<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">


  <!-- <gazebo>
        <plugin
            filename="gz-sim-diff-drive-system"
            name="gz::sim::systems::DiffDrive">
            <left_joint>base_left_back_joint</left_joint>

            <right_joint>base_right_back_joint</right_joint>
            <right_joint>right_front_joint</right_joint>

            <frame_id>odom</frame_id>
            <child_frame_id>base_footprint</child_frame_id>
            <wheel_separation>0.30</wheel_separation>
            <wheel_radius>0.06</wheel_radius>

            <cmd_vel_timeout>0.5</cmd_vel_timeout>
        </plugin>
  </gazebo> -->


    <gazebo>
        <plugin filename="gz-sim-diff-drive-system" name="gz::sim::systems::DiffDrive">

            <right_joint>base_right_back_joint</right_joint>
            <left_joint>base_left_back_joint</left_joint>

            <wheel_seperation>0.30</wheel_seperation>
            <wheel_diameter>0.12</wheel_diameter>

            <max_linear_acceleration>10</max_linear_acceleration>

            <topic>cmd_vel</topic>
            <tf_topic>/tf</tf_topic>
            <odom_topic>odom</odom_topic>
            <frame_id>odom</frame_id>
            <child_frame_id>base_footprint</child_frame_id>
            <odom_publisher_frequency>30</odom_publisher_frequency>

        </plugin>

        <plugin filename="gz-sim-joint-state-publisher-system" name="gz::sim::systems::JointStatePublisher">
            <topic>joint_states</topic>
            <joint_name>base_right_back_joint</joint_name>
            <joint_name>base_left_back_joint</joint_name>
        </plugin>
    </gazebo>

</robot>

